@charset "utf-8";


.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt-container {
    flex: 2;
}

#page {
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

#checkout {
    height: 50px;
    background-color: #bcb9d8;
}

#checkout .t {
    width: 160px;
    float: right;
    margin: 10px;
    line-height: 30px;
}

td {
    text-align: center;
    border: 1px solid #CCC;
}

#btnOrder {
    background-color: #dab3c9;
    height: 30px;
    width: 100px;
    font-size: 16px;
    letter-spacing: normal;
    border: medium none;
}

.inputCountCss {
    text-align: center;
}

.count {
    padding-left: 40px;
}

.count input {
    height: 21px;
}

.count .addCss,
.count input,
.count .reduceCss {
    float: left;
}

.count .addCss,
.count .reduceCss {
    height: 23px;
    width: 27px;
    border: 1px solid #e5e5e5;
    background: #dab3c9;
    text-align: center;
    line-height: 23px;
    color: #fff;


    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    letter-spacing: 3px;
    font-family: 'Open Sans';
    background-color: #dab3c9;
    border-radius: 3px;
}