* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}




.banner-txt {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -155px;
}

.banner-txt h2 {

  font-size: 100px;
  line-height: 129px;
  padding-top: 45px;
  background: url(../images/slide-divider2.png) center top / 216px auto no-repeat;
}

/* set position ，in case of overlapped */


textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


.wrapper {

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}




.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
select {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

button,
.btn,
select {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/* Section top bottom gap */
.section-gap {
  padding: 4.5rem 0;
}



/* / Section top bottom gap */


.contact-grids {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.contact-right {
  padding-left: 28px;
}

.contact-left {
  padding-right: 28px;
}

span.fa-envelope-open-o {
  font-size: 60px;
  display: inline-block;
  margin: 20px 0;
  opacity: 0.333;
  color: #222042;
}

.contact-left h3 {
  font-size: 52px;
  line-height: 40px;
  color: #ddd;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: capitalize;
}

.contact-left h4 {
  font-size: 52px;
  line-height: 60px;
  color: #222042;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.contact-left h6 {
  font-size: 18px;
  line-height: 28px;
}

.contact-grids input,
.contact-grids textarea {
  width: 100%;
  color: #555;
  background: #fff;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  border: none;
  font-family: inherit;
  padding: 15px;
  border: none;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 0px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.contact-grids textarea {
  height: 120px;
  margin: 0 0 20px 0;
}

.contact-grids input:focus,
.contact-grids textarea:focus {
  border: 1px solid #222042;
}

.submit {
  border: 2px solid #222042;
  color: #fff;
  background: #222042;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 0px;
  font-weight: normal;
  display: block;
  border-radius: 4px;
  transition: 0.3s ease-in;
}

.submit:hover {
  border: 2px solid #1d1c3a;
  background: #1d1c3a;
  transition: 0.3s ease-in;
}



.icon img {
  width: 30%;
}

.icon li {
  padding-top: 3em;
  float: left;

  width: 15%;
  text-align: center;
  padding-left: 80px;
  padding-right: 50px;



}

.description li {
  padding-top: 3em;
  float: left;
  width: 15%;
  text-align: center;
  padding-left: 80px;
  padding-right: 50px;

}


.block {
  margin-top: 20em;
}


.other-link {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  overflow: hidden
}

.other-link>div {
  float: left
}

.other-link .icecram-contact {
  float: right
}

.link-look {
  width: 960px;
  padding-bottom: 45px
}

.link-list {
  float: left;
  width: 30%
}

.link-list h3 {
  height: 45px;
  line-height: 20px;
  font-size: 20px;
  color: #ffffff
}

.link-list img {
  background-color: #d3b7d8;
  height: 100px;
  margin-left: 14em;
  display: block;
  padding-bottom: 20px;
  padding-top: 2px;
}

.link-list1 img {
  background-color: #d3b7d8;
  height: 30px;
  margin-left: 3em;
  display: block;
  padding-bottom: 20px;
  padding-top: 2px;
}

.link-list ul li a {
  line-height: 33px;
  color: #ffffff;
  font-size: 15px
}

.link-list ul li a:hover {
  color: #151313
}

.icecram-contact {
  padding-top: 0cm;
  width: 240px
}