@media (max-width: 800px) {
    .sec3 .inner .item {
        width: 50%;
        /* 改为两个图像一行 */
    }

}

@media (max-width: 400px) {
    .sec3 .inner .item {
        width: 100%;
        /* Change the width to make each item take the full width of the container */
    }

    .sec-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-column {
        width: 100%;
    }

    .sec-list {
        width: 100%;
        margin-bottom: 20px;
    }

}


.logo {
    background-color: #ffffff;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 130px;
    display: block;

}

.nav-new {
    width: 100%;
}


.banner-txt {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -247px;
    margin-top: -155px;
}

.banner-txt h1 {

    font-size: 129px;
    line-height: 129px;
    padding-top: 45px;
    background: url(../images/slide-divider2.png) center top / 216px auto no-repeat;
}

.littlelogo {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.littlelogo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}



.banner-txt {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -247px;
    margin-top: -155px;
}

.banner-txt h1 {

    font-size: 129px;
    line-height: 129px;
    padding-top: 45px;
    background: url(../images/slide-divider2.png) center top / 216px auto no-repeat;
}

/* “All Product Section in HOME Page” */


.all-products-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    overflow: hidden;
}

.all-products {
    position: relative;
}

.all-products .sec1 {
    width: 66.66666667%;
    height: 456px;
    float: left;
    padding-top: 70px !important;
    padding-right: 70px !important;
    padding-bottom: 70px !important;
    padding-left: 70px !important;
    box-sizing: border-box;
}

.sec1 .p1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #7e7e7e;
    margin-bottom: 20px;
    padding-left: 15px;
}

.sec1 h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #4a4a4a;
    margin-bottom: 40px;
    padding-left: 15px;
}

.sec1-row {
    overflow: hidden;
    margin-bottom: 35px;
}

.sec1-col {
    float: left;
    width: 50%;
    color: #7e7e7e;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 0 15px;
    box-sizing: border-box;
    min-width: 500px;

}

.sec1 .link {
    border-radius: 4px;
    letter-spacing: 3px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #b2c7cc;
    padding: 15px 35px;
    color: #ffffff;
    display: inline-block;
    margin-left: 15px;
}

.all-products .sec2 {
    width: 33.33%;
    height: 630px;
    float: left;

    background-size: cover;
}

.all-products .sec3 {
    width: 83.33%;
    float: left;
    margin-top: -235px;
    margin-left: -5px;
}

.sec3 .inner {
    width: 100%;
    overflow: hidden;
}

.sec3 .inner .item {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    min-width: 200px;
}

.sec3 .item-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.sec3 .inner .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}